@mixin button-1($px, $py) {
  color: $white-color;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: $px, $py;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
}
